{% extends 'base.html' %}

{% block content %}
<h2>Employee List</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Action</th>
    </tr>
    {% for employee in employee_list %}
    <tr>
        <td> {{ employee.eid }} </td>
        <td> {{ employee.ename }} </td>
        <td> {{ employee.eemail }} </td>
        <td> {{ employee.econtact }} </td>
        <td>
            <a href="{% url 'employee_update' employee.id %}">Edit </a>
            <a href="{% url 'employee_delete' employee.id %}" onclick="return confirm('Are you sure you want to delete this employee?')">Delete</a </a>
        </td>
    </tr>
    {% empty %}
    <tr><td>NO EMPLOYEE FOUND</td></tr>
    {% endfor %}
</table>

{% endblock %}